In [1]:
from cleansting.cleansting import CleanSting
import datetime as dt

In [2]:
d1 = r'C:\Users\albin\PycharmProjects\webscraper_lamudi\lamudi\json_raw\enero\lamudi_22_01_2022.json'
d2 = r'C:\Users\albin\PycharmProjects\webscraper_lamudi\lamudi\json_raw\febrero\01_02_2022.json'
d3 = r'C:\Users\albin\PycharmProjects\webscraper_lamudi\lamudi\json_raw\febrero\lamudi_15_02_22.json'
d4 = r'C:\Users\albin\PycharmProjects\webscraper_lamudi\lamudi\json_raw\marzo\lamudi_28_02_22.json'
d5 = r'C:\Users\albin\PycharmProjects\webscraper_lamudi\lamudi\json_raw\marzo\lamudi_12_03_22.json'
d6 = r'C:\Users\albin\PycharmProjects\webscraper_lamudi\lamudi\json_raw\marzo\lamudi_18_03_22.json'
d7 = r'C:\Users\albin\PycharmProjects\webscraper_lamudi\lamudi\json_raw\marzo\lamudi_26_03_2022.json'

In [16]:
def get_final_data():
    cl  = CleanSting()
    cl.fit_json(d1, d2, d3, d4, d5, d6, d7)
    cl.json_to_pd()
    cl.drop_nan('main', 'habitaciones', 'banos', 'autos', 'colonia', 'm2_const')
    cl.set_sector_inmo('main')
    cl.change_dtype('main',
                    columns = ('colonia', 'tipo_oferta', 'tipo_inmueble', 'sub_category', 'ciudad', 'estado', 'agent')                    )
    cl.change_dtype('main', columns = ('m2_terreno', 'm2_const', 'total_habitaciones'), astype='float16')
    cl.change_dtype('main', columns = ('habitaciones', 'banos', 'autos'), astype='int8')
    cl.filter_by('main', tipo_inmueble='Casa', tipo_oferta='Venta')
    cl.set_amenidades()
    
    return cl

In [17]:
start = dt.datetime.now()
cl = get_final_data()
total_time = dt.datetime.now() - start 
print('Tiempo total del programa:',total_time)

Tiempo total del programa: 0:01:05.879744

In [28]:
columns = ('m2_terreno', 'm2_const', 'habitaciones', 'banos', 'autos')
cl.filter_by(tb_name='main', tipo_inmueble='Casa', tipo_oferta='Venta', colonia='Puerta de Hierro')
cl.drop_outliers(tb_name='filtered', columns=columns)
cl.df['filtered']['m2_price'] = cl.get_m2_price('filtered')
cl.df['filtered']['m2_const_price'] = cl.get_m2_const_price('filtered')
cl.df['filtered']['abs_price'] = cl.get_abs_price('filtered')
df = cl.df['filtered']
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164 entries, 2811 to 18699
Data columns (total 66 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   index                                  164 non-null    int64
 1   tipo_inmueble                          164 non-null    category
 2   sub_category                           164 non-null    category
 3   tipo_oferta                            164 non-null    category
 4   colonia                                164 non-null    category
 5   estado                                 164 non-null    category
 6   ciudad                                 164 non-null    category
 7   lat                                    164 non-null    float64
 8   long                                   164 non-null    float64
 9   divisa                                 164 non-null    object
 10  price                                  164 non-null    float64
 11  m2_terreno                             164 non-null    float16
 12  m2_const                               164 non-null    float16
 13  habitaciones                           164 non-null    int8
 14  total_habitaciones                     96 non-null     float16
 15  banos                                  164 non-null    int8
 16  autos                                  164 non-null    int8
 17  antiguedad                             42 non-null     float64
 18  amenidades                             63 non-null     object
 19  fecha_pub                              164 non-null    object
 20  descripcion                            164 non-null    object
 21  link_img                               164 non-null    object
 22  link                                   164 non-null    object
 23  sku                                    164 non-null    object
 24  agent                                  164 non-null    category
 25  sector_inmo                            164 non-null    category
 26  Piso de loseta                         164 non-null    bool
 27  Aire acondicionado                     164 non-null    bool
 28  Cocina Equipada                        164 non-null    bool
 29  Patio                                  164 non-null    bool
 30  Jardín                                 164 non-null    bool
 31  Alberca                                164 non-null    bool
 32  Estacionamiento abierto                164 non-null    bool
 33  Estudio                                164 non-null    bool
 34  Cuarto de servicio                     164 non-null    bool
 35  Balcón                                 164 non-null    bool
 36  Terraza                                164 non-null    bool
 37  Área de entretenimiento al aire libre  164 non-null    bool
 38  Estacionamiento para Visitas           164 non-null    bool
 39  Acceso a TV de paga                    164 non-null    bool
 40  Armarios empotrados                    164 non-null    bool
 41  Chimenea                               164 non-null    bool
 42  Piso de duela                          164 non-null    bool
 43  Totalmente cercado                     164 non-null    bool
 44  Área de juegos infantiles              164 non-null    bool
 45  Estacionamiento techado                164 non-null    bool
 46  Estacionamiento vigilado               164 non-null    bool
 47  Garaje                                 164 non-null    bool
 48  Jacuzzi                                164 non-null    bool
 49  Extractor en baños                     164 non-null    bool
 50  Gimnasio                               164 non-null    bool
 51  Internet de banda ancha disponible     164 non-null    bool
 52  Estacionamiento para visitas           164 non-null    bool
 53  Elevador                               164 non-null    bool
 54  Roof Garden                            164 non-null    bool
 55  Intercomunicador                       164 non-null    bool
 56  Salón de usos múltples                 164 non-null    bool
 57  Área de Juegos Infantiles              164 non-null    bool
 58  Calefacción                            164 non-null    bool
 59  Cancha de tenis                        164 non-null    bool
 60  Garaje a distancia                     164 non-null    bool
 61  Piso de alfombra                       164 non-null    bool
 62  Sistema de alarma                      164 non-null    bool
 63  m2_price                               164 non-null    float64
 64  m2_const_price                         164 non-null    float64
 65  abs_price                              164 non-null    float64
dtypes: bool(37), category(8), float16(3), float64(7), int64(1), int8(3), object(7)
memory usage: 112.6+ KB